/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #f8f9fa;
    padding-top: 20px;
}

/* Container Principal */
.container {
    text-align: center;
    max-width: 500px;
    width: 100%;
    padding: 20px;
}

.logo {
    width: 80px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.thank-you-gif {
    width: 100px; /* Ajuste o tamanho da imagem conforme necessário */
    display: block;
    margin: 0 auto 20px; /* Centraliza e adiciona espaçamento inferior */
}

.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.button:hover {
    background-color: #43A047;
}

/* Rodapé */
footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer p {
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links span {
    color: #fff;
}
